
<%= render "bar" %>

<div  class="container">
  <div class="row top-buffer">
    <div  class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <h5> User Information: </h5>
      <label> Name: </label>
        <%= @user.name %><br>
      <label> Height: </label>
        <%= @user.height %><br>
      <label> Weight: </label>
        <%= @user.weight %><br>
      <label> Quote: </label>
        <%= @user.quote %><br>
    </div>

      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <button id="current-challenge-button" data-id="<%= @user.id %>">Current Challenges...</button>

    </div>
      <div  class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <button id="expired_challenge_button" data-id="<%=@user.id%>">Expired Challenges...</button>
      </div>
  </div>
</div>

 <!--this should be nested user and the challenge -->
