<label> Name: </label>
<%= @user.name %><br>
<label> Height: </label>
<%= @user.height %><br>
<label> Weight: </label>
<%= @user.weight %><br>
<label> Quote: </label>
<%= @user.quote %><br>

<label> Current Challenges: </label>
  <%= @challenges.each do |challenge| %>
    <%=challenge.name%>
    <%= link_to "Challenge", user_challenge_path(challenge)%>
  <%end%>
<label> Expired Challenges: </label>
<%= @expired_challenges.each do |challenge| %>
  <%=challenge.name%>
  <%= link_to "Challenge", user_challenge_path(challenge)%>
<%end%>


<%= link_to "Create a New Challenge", new_user_challenge_path %>
 <!--this should be nested user and the challenge -->
