
<%= render "bar" %>

<div  class="container">
  <div class="row top-buffer">
    <div  class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <h5> User Information: </h5>
      <label> Name: </label>
        <%= @user.name %><br>
      <label> Height: </label>
        <%= @user.height %><br>
      <label> Weight: </label>
        <%= @user.weight %><br>
      <label> Quote: </label>
        <%= @user.quote %><br>
    </div>


<% if @current_challenges || @expired_challenges %>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
  <h5> Current Challenges: </h5><br>
    <% @current_challenges.each do |challenge| %>
      <%= link_to challenge.name, challenge_path(challenge)%><br>
    <%end%>
    </div>
      <div  class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <h5> Expired Challenges: </h5><br>
      <% @expired_challenges.each do |challenge| %>
        <%= link_to challenge.name, challenge_path(challenge)%><br>
      <%end%>
      </div>
<%end%>
  </div>
</div>

 <!--this should be nested user and the challenge -->
