
<nav class="navbar navbar-expand-sm bg-dark navbar-dark"">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/challenges/new">New Challenge</a>
    </li>
    <li class="nav-item">
      <%= link_to 'Log Out', signout_path, :method => 'delete', :class => "nav-link"%>
    </li>
  </ul>
</nav>


<div  class="container">
  <div class="row">
    <div  class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <h5> User Information: </h5>
      <label> Name: </label>
        <%= @user.name %><br>
      <label> Height: </label>
        <%= @user.height %><br>
      <label> Weight: </label>
        <%= @user.weight %><br>
      <label> Quote: </label>
        <%= @user.quote %><br>
    </div>


<% if @current_challenges || @expired_challenges %>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
  <h5> Current Challenges: </h5><br>
    <% @current_challenges.each do |challenge| %>
      <%= link_to challenge.name, challenge_path(challenge)%><br>
    <%end%>
    </div>
      <div  class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <h5> Expired Challenges: </h5><br>
      <% @expired_challenges.each do |challenge| %>
        <%= link_to challenge.name, challenge_path(challenge)%><br>
      <%end%>
      </div>
<%end%>
  </div>
</div>

 <!--this should be nested user and the challenge -->
