<ul>
  <li><%= link_to "Create a New Challenge", new_challenge_path %></li>
  <li><%= link_to 'Log Out', signout_path, method: :delete %></li>
</ul>


<label> Name: </label>
<%= @user.name %><br>
<label> Height: </label>
<%= @user.height %><br>
<label> Weight: </label>
<%= @user.weight %><br>
<label> Quote: </label>
<%= @user.quote %><br>

<% if @current_challenges || @expired_challenges %>
  <label> Current Challenges: </label><br>
    <% @current_challenges.each do |challenge| %>
      <%= link_to challenge.name, challenge_path(challenge)%><br>
    <%end%>
    <label> Expired Challenges: </label><br>
      <% @expired_challenges.each do |challenge| %>
        <%= link_to challenge.name, challenge_path(challenge)%><br>
      <%end%>
<%end%>


 <!--this should be nested user and the challenge -->
