
 <%= render 'bar' %>

 <div  class="container">
   <div class="row top-buffer">
     <div  class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
       <label> Challenge Created By:</label>
       <%= @challenge.user.name %><br>
       <label> Challenge Name: </label>
       <%= @challenge.name %><br>
       <button id="more-info" data-id="<%= @challenge.id %>">More Info</button>
       <div id="more-info-challenge"></div>
       <label> Workouts left to complete this challenge:</label>
       <%= @challenge.left_to_complete(@challenge.workouts_needed) %><br>
       <label> Workouts Completed in this Challenge: </label>
       <%= @challenge.workouts.size %>
      </div>

      <div  class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <h5> Workouts: </h5>
        <% if !@workouts == nil%>
          <% @workouts.each do |workout| %>
            <li> Kind of Workout: <%= workout.workout.kind%></li>
          <%end%>
        <%end%>
      </div>

      <div  class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div class= "top-buffer">
        <%= form_for [@challenge, @workout], remote: true, html: {id: :workoutform}, data: {id: @challenge.id } do |f|%>
          <%= f.hidden_field :challenge_id, value: @challenge.id %>
          <%= f.label "Type of Workout:" %>
          <%= f.text_field :kind %>
          <%= f.submit "Add Workout" %>
        <% end %>
        </div>
    </div>
  </div>
