<h2>This Challenge Was create by <%= @challenge.user.name %>.</h2>

<label> Name: </label>
<%= @challenge.name %><br>
<label> Start Date: </label>
<%= @challenge.start_date %><br>
<label> End Date: </label>
<%= @challenge.end_date %><br>
<label> Amount of Workouts: </label>
<%= @challenge.workout_amount %><br>
<label> Prize: </label>
<%= @challenge.prize %><br>
<label> Amount of Workouts: </label>
<%= @challenge.notes %><br>

<h3>Workouts left to complete this challenge:</h3><br>
<%= %>

<h3>Add a New Workout to this Challenge!</h3>
  <%= link_to "Add a Workout", new_user_workout_path(@challenge.user) %>
